body{
    background-color: rgb(14, 14, 14);
}
.container {
    height:400px;
    width: 400px;
    background-color: black;
    margin: 0 auto;
    margin-top: 150px;
    display: grid;
    place-items: center;
}
.circle{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    position: relative;
    animation: opac cubic-bezier(0.45, 0, 0.55, 1) infinite;
    animation-duration: 5s;
    animation-delay: 1s;
}
.sky{
    height: 65%;
    background-color: skyblue;
    z-index: 1;
}
.land{
    height: 35%;
    background-color: rgb(226, 172, 101);
    position: relative;
    z-index: 2;
    animation: landopac cubic-bezier(0.45, 0, 0.55, 1) infinite;
    animation-duration: 5s;
    animation-delay: 1s;
}
.sun{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    background-color: yellow;
    left: 12%;
    top: 12%;
    transform-origin: 90px 130px;
    animation:  spin cubic-bezier(0.11, 0, 0.5, 0) infinite;
    animation-delay: 1s;
    animation-duration: 5s;
    z-index: 1;
}
.hill1{
    height: 77px;
    width: 70px;
    background-color: rgb(187, 187, 187);
    border: 0.1px solid  rgb(153, 153, 153);
    position: absolute;
    top: 36.5%;
    left: 23%;
    z-index: 4;
    clip-path: polygon(0 100%,100% 0,100% 100%);
    transform: skew(0,10deg);
    animation: hillopac1 cubic-bezier(0.45, 0, 0.55, 1) infinite;
    animation-duration: 5s;
    animation-delay: 1.5s;

}
.hill2{
    height: 77px;
    width: 70px;
    background-color: rgb(187, 187, 187);
    border: 0.1px solid  rgb(153, 153, 153);
    position: absolute;
    top: 36.5%;
    left: 51%;
    z-index: 4;
    clip-path: polygon(0 100%,100% 100%,0 0);
    transform: skew(0,-10deg);
    animation: hillopac2 cubic-bezier(0.45, 0, 0.55, 1) infinite;
    animation-duration: 5s;
    animation-delay: 1.5s;
}
.shadow1{
    position: absolute;
    height: 85px;
    width: 170px;
    background-color: rgba(0, 0, 0, 0.192);
    top: 50%;
    left: 17%;
    z-index: 3;
    clip-path: polygon(45% 58%,91% 42%,100% 100%);
    animation: shad cubic-bezier(0.45, 0, 0.55, 1) infinite;
    animation-duration: 5s;
    animation-delay: 1.5s;
}
@keyframes landopac{
    from{
        background-color: rgb(226, 172, 101);
        
    }
    25%{
        background-color: rgb(226, 172, 101);
        
    }
    45%{
        background-color: rgb(226, 172, 101);
        
    }
    60%{
        background-color:black;
        
    }
    100%{
        background-color: rgb(226, 172, 101);
    }
}
@keyframes opac{
    from{
        opacity: 1;
        
    }
    45%{
        opacity: 1;
    }
    65%{
        opacity:0;
    }
    80%{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes spin{
    from {
        transform: rotatez(0deg);
    }
    25%{
        transform: rotatez(68deg);
    }
    100%{
        transform: rotatez(360deg);
    }
}
@keyframes hillopac1{
    from{
        background-color:rgb(187, 187, 187) ;
        border-color:rgb(153, 153, 153) ;
        box-shadow: none;
    }
    25%{
        background-color:rgb(155, 155, 155);
        border-color:rgb(153, 153, 153) ;
    }
    45%{
        background-color:rgb(187, 187, 187);
        border-color:rgb(153, 153, 153) ;
    }
    50%{
        background-color:black;
        border-color: black;
    }
    100%{
        background-color:rgb(187, 187, 187) ;
    }
}
@keyframes hillopac2{
    from{
        background-color:rgb(155, 155, 155) ;
        border-color:rgb(153, 153, 153) ;
    }
    25%{
        background-color:rgb(187, 187, 187);
        border-color:rgb(153, 153, 153) ;
    }
    45%{
        background-color:rgb(187, 187, 187);
        border-color:rgb(153, 153, 153) ;
    }
    50%{
        background-color:black;
        border-color: black;
    }
    100%{
        background-color:rgb(155, 155, 155) ;
    }
}

@keyframes shad{
    from{
        clip-path: polygon(45% 58%,91% 42%,100% 100%);
    }
    25%{
        clip-path: polygon(59% 58%,11% 42%,0% 100%);
    }
    50%{
        clip-path: polygon(59% 58%,10% 42%,0% 100%);
    }
    100%{
        clip-path: polygon(45% 58%,91% 42%,100% 100%);
    }
}